.Container {
  display: flex;
  flex-direction: column;
  width: 315px;
}

.FirstRowContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 28px;
}

.CancelContainer {
  display: flex;
  margin-top: 6px;
}

.Cancel img {
  margin-top: 3px;
  height: 18px;
  width: 18px;
}

.IndustryContainer {
  margin-bottom: 20px;
}

.SalaryContainer {
  margin-bottom: 20px;
}

.PaymentFromContainer {
  margin-bottom: 8px;
}
