@import 'src/assets/styles/mixins';

.VacancyContainer {
  width: 100%;
  margin: 0.75rem 0;
  cursor: pointer;
}

.FirstRowContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.7rem;
}

.Title {
  @include textEllipsis;
}

.SecondRowContainer {
  > * {
    @include textEllipsis;
  }

  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 0.7rem;
}

.ThirdRowContainer {
  display: flex;
  gap: 0.5rem;
}

.Star img {
  margin-top: 4px;
  height: 22px;
  width: 22px;
}

.Location img {
  margin-top: 3px;
  width: 100%;
}
