@import 'src/assets/styles/mixins';

.FirstRowContainer {
  // @include textEllipsis; //why not working placed here?

  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.7rem;

  @include textEllipsis;

}

.SecondRowContainer {
  > * {
    @include textEllipsis;
  }

  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 0.7rem;
}

.ThirdRowContainer {
  display: flex;
  gap: 0.5rem;
}

.Star img {
  margin-top: 4px;
  width: 100%;
}

.Location img {
  margin-top: 3px;
  width: 100%;
}
