.FirstRowContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.7rem;

  > .Title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.SecondRowContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.7rem;
}

.ThirdRowContainer {
  display: flex;
  gap: 0.5rem;
}

.Star img {
  margin-top: 4px;
  width: 100%;
}

.Location img {
  margin-top: 3px;
  width: 100%;
}
