.Container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 2rem 0rem;
  width: 80%;
  gap: 2rem;
}

.IndustryContainer {
  margin-bottom: 20px;
}

.FirstColumnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    display: none;
  }
}

.SecondColumnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.PaginationContainer {
  margin-top: 1rem;
  justify-content: center;

  @media (max-width: 800px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.searchBarAndFilterBtn {
  display: flex;

  @media (max-width: 800px) {
    gap: 32px;
  }
}

.button {
  display: none;

  @media (max-width: 800px) {
    display: block;
  }
}

.filterTabMobileContainer {
  display: none;

  @media (max-width: 800px) {
    display: block;

    > div {
      width: 100%;
    }
  }
}
